doc/WeChat/node_modules/*
doc/DingDing/_book/
doc/WeChat/_book/
*/_book/*
.idea/
.git/
target/
.settings/
*/*.iml
*/*.log
api/*.iml
api/.classpath
api/.project
api/.idea/
api/.git/
api/target/
api/.settings/

HELP.md
!**/src/main/**
!**/src/test/**

Permanent_Data/*


biz/*.iml
biz/.classpath
biz/.project
biz/.idea/
biz/.git/
biz/target/
biz/.settings/


web/*.iml
web/.classpath
web/.project
web/.idea/
web/.git/
web/target/
web/.settings/

*.log
tmp/
/bin/
/logs/
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

